{% extends 'layout.html'%}

{% block content %}
<div class="col-lg-12" >
    <div class="card shadow mb-4" style="width: 100%;">
        <div class="card-header py-3">
            <h6 class="m-0 font-weight-bold text-primary">{{y.ClassName}}</h6>
        </div>
        <div class="card-body">
            The styling for this basic card example is created by using default Bootstrap
            utility classes. By using utility classes, the style of the card component can be
            easily modified with no need for any custom CSS!
            <div>
                Teacher: 
                {% for t in y.teacher_set.all %}
                {{t.extension}} {{t.teacher_lastName}}
                {% endfor %}
            </div>

            <div class="table-responsive">
                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                    <thead>
                        <tr>
                            <th>Student First Name</th>
                            <th>Student Last Name</th>
                            <th>Date of Birth</th>
                            <th>Gender</th>

                        </tr>
                    </thead>
                    <tfoot>
                        <tr>
                            <th>Student First Name</th>
                            <th>Student Last Name</th>
                            <th>Date of Birth</th>
                            <th>Gender</th>
                        </tr>
                    </tfoot>
                    <tbody>
                        {% for x in y.student_set.all %}
                        <tr>
                            <td>{{x.Student_First_Name}}</td>
                            <td>{{x.Student_Last_Name}}</td>
                            <td>{{x.student_dateOfBirth}}</td>
                            <td>{{x.student_gender}}</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>

        </div>

    </div>
</div>



{% endblock%}